page-login {

    .fixed-content {

        background-color: white;
    }
    .button-inner{
        color: black;
    }

    form, input, optgroup, select{
        margin-top:10px;
    }

    .item {

        max-width: 50% !important;
        margin-left: 25%;
    }

    #buttonLoginDiv {

        text-align: center;
    }    

    #loginButton {

        background: #2672A3;
        color: white;
    }

    #notRegistredDivLogin {

        text-align: center;
    }
    .tutto{
        background-color: whitesmoke;
        width: 60%;
        box-shadow: 5px 10px 18px #4b4a4a;
        margin-left: 20%;
        padding-top: 3em;
        margin-top: 3em;
        border: none !important;
    }

    

}