page-cerca {
    table.blueTable {
        font-family: Georgia, serif;
        border: 1px solid #6495ED;
        background-color: #EEEEEE;
        width: 50%;
        margin-left: 25%;
        margin-top: 5%;
        text-align: left;
        border-collapse: collapse;
      }
      table.blueTable td, table.blueTable th {
       // border: 1px solid #000000;
        padding: 8px 10px;
      }
      table.blueTable tbody td {
        font-size: 16px;
      }
      table.blueTable tr:nth-child(even) {
        background: #D0E4F5;
      }/*
      table.blueTable td:nth-child(even) {
        background: #D0E4F5;
      }*/
      table.blueTable thead {
        background: #6495ED;
        background: -moz-linear-gradient(top, #8baff1 0%, #739fee 66%, #6495ED 100%);
        background: -webkit-linear-gradient(top, #8baff1 0%, #739fee 66%, #6495ED 100%);
        background: linear-gradient(to bottom, #8baff1 0%, #739fee 66%, #6495ED 100%);
      //  border-bottom: 2px solid #444444;
      }
      table.blueTable thead th {
        font-size: 24px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: left;
      //  border-left: 2px solid #6495ED;
      }
      table.blueTable thead th:first-child {
        border-left: none;
      }
      
      table.blueTable tfoot {
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        background: #D0E4F5;
        background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
        background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
        background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
      //  border-top: 2px solid #444444;
      }
      table.blueTable tfoot td {
        font-size: 14px;
      }
      table.blueTable tfoot .links {
        text-align: right;
      }
      table.blueTable tfoot .links a{
        display: inline-block;
        background: #1C6EA4;
        color: #FFFFFF;
        padding: 2px 8px;
        border-radius: 5px;
      }

      .form-container{
        width : 40%;
        margin-left: 30%;
      }

}
