page-news {

    .img-home-container{
        width: 100%;
    }
    .img-home-container-medico{
          float: left;
    }
    ion-app.md {
        padding: 0px !important;
    }
    ::-webkit-scrollbar {
        width: 0px !important;
    }
    .content content-md{
        padding:0px !important;
    }
    .scroll-content{
        padding:0px !important;
    }
    .container-home-titolo{
        color:#1C6EA4;
        margin-left:30%;
        font-size: 50px;
    }
    .container-home-testo{
        margin-top:5%;
        margin-left:10%;
        width: 80%;
     

    }
    .home-secondo-piano{
        margin-top: 40px;
     
      }
    
    
 }
